<tr>
  <td class="align-middle">
    <%= image_tag badge.image_path, class: 'img-fluid' %>
  </td>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= badge.text_rule %></td>
  <td class="align-middle">
    <div class="col-sm"><%= link_to t(:show), admin_badge_path(badge) -%></div>
    <div class="col-sm"><%= link_to t(:edit),edit_admin_badge_path(badge) %></div>
    <div class="col-sm"><%= link_to t(:delete),
          admin_badge_path(badge),
          method: :delete,
          data: { confirm: t(:are_you_sure) } %>
    </div>
  </td>
</tr>
