<% if @user_test.successful? %>
	<h1><%= t('.header_success', title: @user_test.test.title) %></h1>
	<p> <%= t('.success_rate') %>: <span class="text-success"><%= @user_test.success_rate %>%</span></p>
<% else %>
	<h1><%= t('.header_fail', title: @user_test.test.title) %></h1>
	<p> <%= t('.success_rate') %>: <span class="text-danger"><%= @user_test.success_rate %>%</span></p>
<% end %>

<% if @rewards %>
<div class="badges-collection ml-3 mr-2 col-5">
  <div class="row mb-2 row-cols-3">
    <%= render partial: "reward", collection: @rewards %>
  </div>
</div>
<% end %>

<%= link_to t(:back), tests_path, class: 'btn btn-secondary' %>
