<nav class="navbar navbar-expand-lg navbar-light admin-nav">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= admin_gists_path %>">Gists <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <span class = "navbar-text">
    <% if user_signed_in? %>
    <%= t(:welcome) %>, <b><%= current_user.email %></b> Guru
    <%= link_to t(:logout), destroy_user_session_path, method: :delete %>

    <% else %>
    <%= link_to t(:signup), new_user_registration_path %>
    <% end %>
  </span>
</nav>
