<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <div class="row">
      <div class="col-sm">Бейджи</div>
      <div class="col-sm ">
        <button type="button" class="btn btn-light btn-sm float-right sidebar-toggle">Закрыть</button>
      </div>
    </div>
  </div>

  <div class="sidebar-content">
    <div class="badges-collection ml-3 mr-2">


      <div class="row mb-2">
        <div class="col-sm">
          <div class="badge-item badge-gen" data-toggle="tooltip" title="За успешное прохождение всех тестов из категории Backend">
            <%= image_tag 'badges/01.png', class: 'img-fluid' %>
            <span class="badge badge-pill badge-primary badge-on-image">5</span>
          </div>
        </div>

        <div class="col-sm">
          <div class="badge-item" data-toggle="tooltip" title="За успешное прохождение всех тестов из категории Backend">
            <%= image_tag 'badges/02.png', class: 'img-fluid' %>
            <span class="badge badge-pill badge-primary badge-on-image">5</span>
          </div>
        </div>

        <div class="col-sm">
          <div class="badge-item" data-toggle="tooltip" title="За успешное прохождение всех тестов из категории Backend">
            <%= image_tag 'badges/03.png', class: 'img-fluid' %>
            <span class="badge badge-pill badge-primary badge-on-image">5</span>
          </div>
        </div>
      </div>

      <div class="row mb-2">

        <div class="col-sm">
          <div class="badge-item" data-toggle="tooltip" title="За успешное прохождение всех тестов из категории Backend">
            <%= image_tag 'badges/04.png', class: 'img-fluid' %>
            <span class="badge badge-pill badge-primary badge-on-image">5</span>
          </div>
        </div>

        <div class="col-sm">
          <div class="badge-item" data-toggle="tooltip" title="За успешное прохождение всех тестов из категории Backend">
            <%= image_tag 'badges/05.png', class: 'img-fluid' %>
            <span class="badge badge-pill badge-primary badge-on-image">5</span>
          </div>
        </div>

        <div class="col-sm">
          <div class="badge-item" data-toggle="tooltip" title="За успешное прохождение всех тестов из категории Backend">
            <%= image_tag 'badges/06.png', class: 'img-fluid' %>
            <span class="badge badge-pill badge-primary badge-on-image">5</span>
          </div>
        </div>

      </div>

      <div class="row mb-2">

        <div class="col-sm">
          <div class="badge-item" data-toggle="tooltip" title="За успешное прохождение всех тестов из категории Backend">
            <%= image_tag 'badges/07.png', class: 'img-fluid' %>
            <span class="badge badge-pill badge-primary badge-on-image">5</span>
          </div>
        </div>

        <div class="col-sm">
          <div class="badge-item" data-toggle="tooltip" title="За успешное прохождение всех тестов из категории Backend">
            <%= image_tag 'badges/08.png', class: 'img-fluid' %>
            <span class="badge badge-pill badge-primary badge-on-image">5</span>
          </div>
        </div>

        <div class="col-sm">
          <div class="badge-item" data-toggle="tooltip" title="За успешное прохождение всех тестов из категории Backend">
            <%= image_tag 'badges/09.png', class: 'img-fluid' %>
            <span class="badge badge-pill badge-primary badge-on-image">5</span>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>
<!-- /#sidebar-wrapper -->
