<p>
	<strong><%= Test.human_attribute_name(:title) %>:</strong>
	<%= @test.title %>
</p>

<p>
	<strong><%= Test.human_attribute_name(:level) %>:</strong>
	<%= @test.level %>
</p>

<%= render :template => 'admin/questions/index' %>


<%= link_to t(:back), admin_tests_path %>
