<h1><%= t('.header') %></h1>

<table class="table">
  <thead>
   <tr>
    <th scope="col" class="sort-by-title pointer"><%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th scope="col"><%= t('.level') %></th>
    <th scope="col"><%= t('.questions') %></th>
    <th scope="col"><%= t('.actions') %></th>
  </tr>
</thead>
<tbody>
	<%= render @tests %>
</tbody>
</table>

<%= image_tag 'badges/01.png', class: 'badge-01 img-fluid' %>
<div class="badge-item" data-toggle="tooltip" title="За успешное прохождение всех тестов из категории Backend">
<%= image_tag 'badges/02.png', class: 'img-fluid' %>
<span class="badge badge-pill badge-primary badge-on-image">5</span>
</div>

