<!DOCTYPE html>
<html>
<head>
  <title>TestGuru</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <section class="nav container">
    <div class="nav title">
      <%= link_to 'TestGuru', root_path, class: 'nav title' %>
    </div>
    <div class="nav user">
      <% if user_signed_in? %>
        <%= t(:welcome) %>, <b><%= current_user.name %></b> Guru
      <%= link_to t(:logout), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t(:signup), new_user_registration_path %>
      <% end %>
    </div>
  </section>

  <%= render 'shared/flash' %>

  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>
